%p 
  Hi. I'm a programmer and you can call me steady.
  My interests lie in embedded systems and robotics.
  I want to accomplish the following in the next two years:
  %ul
    %li Make a significant contribution to real-time Linux.
    %li Do research worthy of a publication. 

%p
  I hope you will join me as I undertake these goals.
  %a(href="/reading-lists")Reading lists
  are availible and feel free to check out my collected
  %a(href="/quotes.html")quotes
  if you are in need of some inspiration.
  Please do 
  %a(href="contact.html")get in touch
  if you would like to chat.

