!!! 5
%html
  %head
    %link(href="/style.css" rel="stylesheet" type="text/css")
  %body
    %p
      [
      %a(href="/") Home
      ]
      [
      %a(href="/reading-lists") Reading Lists
      ]
      [
      %a(href="/quotes.html") Quotes
      ]
    = yield
