%table
  %tr
    %td(colspan="4") Real time scheduling
  %tr
    %td
      %a(href="http://dx.doi.org/10.1145/321738.321743") Scheduling Algorithms for Multiprogramming in a Hard-Real-Time Environment
    %td Liu and Layland
    %td 1973
    %td Paper that introduced fixed-priority real-time scheduling
  %tr
    %td 
      %a(href="http://dx.doi.org/10.1023/B:TIME.0000045315.61234.1e") Real time scheduling theory: A historical perspective
    %td Sha et. al
    %td 2004
    %td Survey of key results in real time scheduling theory.
